html{
    background-color: #001A23;
    color: #E6AA68;
}
body{
    margin:2rem;
}
h1{
    text-align: center;
    
}
.about-text {
    font-family: 'Georgia', serif;
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
nav{
    background-color: #E6AA68;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.links{
    background-color: antiquewhite;
    border-radius: 5px;
    color: #001A23;
    padding: 10px;
    margin: 20px;
}
a:hover{
    color: aliceblue;
}
a:active{
    color: #001A23;
}
.section {
margin-bottom: 2rem;
}
ul {
list-style: none;
padding-left: 0;
}
li {
margin: .5rem 0;
}
.item {
display: flex;
justify-content: space-between;
border-bottom: 1px dotted #ccc;
padding: 0.5rem 0;
}

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

    .image img {
        display: block;
    }

    .image.left, .image.right {
        max-width: 40%;
    }

        .image.left img, .image.right img {
            width: 100%;
        }

    .image.left {
        float: left;
        margin: 0 2rem 2rem 0;
        top: 0.75rem;
    }

    .image.right {
        float: right;
        margin: 0 0 2rem 2rem;
        top: 0.75rem;
    }

    .image.fit {
        display: block;
        margin: 0.5rem 0 2.5rem;
        width: 100%;
    }

        .image.fit:first-child {
            margin-top: 0;
        }

        .image.fit img {
            width: 100%;
        }

    .image.main {
        display: block;
        margin: 4rem 0;
        width: 100%;
    }

        .image.main:first-child {
            margin-top: 0;
        }

        .image.main img {
            width: 100%;
        }
.phone{
    text-align: center;
}
.number{
    text-align: center;
}