<h1>Jay Wu's Jubilant Wombat || ITIS 3135</h1>

<nav>
    <a href="./">Home</a> || 
    <a href="introduction.html">Introduction</a> || 
    <a href="contract.html">Contract</a> || 
    <a href="jubilantwombat/jubilantwombat.com.html">Whimsical Website</a> || 
    <a href="website-evaluation.html">Website Evaluation</a>||
    <a href="tables.html">Tables</a> ||
    <a href="byo_intro.html">BYO</a> ||
    <a href="forms.html">Forms</a> ||
    <a href="slideshow.html">Slideshow</a>
</nav>
<nav class="row2"> 
    <a href="stuff/CRAPPY*****STINKY.html">CRAPPY</a> ||
    <a href="./hobby/index.html">Hobby</a>
</nav>